@import 'src/css/theme';
@import 'src/css/mixins';

.list {
  color: $c-black;
  font-family: $font-family;
  @include boxShadow;
}

.listItem {
  flex: 1;
  padding: 1rem 1rem 1rem 0;
  background-color: $c-white;
  font-weight: $fw-semi-bold;
  display: flex;
  border-bottom: 1px solid $c-background;
  font-size: $f-size-3;

  &.roundedTop {
    @include borderRadiusTop;
  }

  &.roundedBottom {
    @include borderRadiusBottom;
  }

  .toggleIconWrapper {
    width: 3rem;
  }
}

.listSubItem {
  flex: 1;
  padding: 1rem 3rem;
  background-color: $c-placeholder;
  font-size: $f-size-2;

  &.roundedBottom {
    @include borderRadiusBottom;
  }
}
