@import 'src/css/theme';

.icon {
  fill: $c-purple-light;
  width: $icon-size;
  height: $icon-size;
  transition: transform 0.3s;

  &.directionBottom {
    transform: rotate(90deg);
  }

  &.directionTop {
    transform: rotate(-90deg);
  }
}
