import React from 'react';
import { {{pascalCase name}} } from './{{kebabCase name}}';
import { StorybookContainer } from '../../../.storybook/storybook-container';

export default {
  title: '{{pascalCase name}}',
  component: {{pascalCase name}}
};

export const Default = () => (
  <StorybookContainer>
    <{{pascalCase name}} />
  </StorybookContainer>
);
