import React from 'react';
import styles from './{{kebabCase name}}.module.scss';
import cn from 'classnames';

type Props = {

}

export const {{pascalCase name}} = (props: Props) => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};
