@import 'src/css/theme';

.labelWrapper {
  display: flex;
  flex-direction: column;

  .labelText {
    color: $c-gray-dark;
    font-size: $f-size-2;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
