@import 'src/css/theme';
@import 'src/css/mixins';

.questionTitle {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.questionStatus {
  &.correct {
    color: $c-success;
  }

  &.incorrect {
    color: $c-danger;
  }
}
