@import 'theme';

@mixin resetButton {
  outline: none;
  border: none;
  padding: 0;
  font-family: inherit;
}

@mixin borderRadiusTop {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

@mixin borderRadiusBottom {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

@mixin boxShadow {
  box-shadow: inset 0 -1px 0 0 #dddddd, 0 10px 20px 0 rgba(0, 0, 0, 0.02);
}
