// Colors
$c-background: #e8e6f2;
$c-purple-light: #cdc9e7;
$c-gray-dark: #9997a1;
$c-white: #fff;
$c-placeholder: #f6f5fc;
$c-black: #2f363d;
$c-success: #00AA8D;
$c-danger: #E76157;

// Font
$font-family: Open Sans, serif;

// Font weight
$fw-semi-bold: 600;

// Font size
$f-size-1: 12px;
$f-size-2: 14px;
$f-size-3: 1rem;
$f-size-4: 20px;
$f-size-5: 24px;
$f-size-6: 32px;
$f-size-7: 48px;
$f-size-8: 64px;

$icon-size: 0.8rem;

// Border
$border-radius: 10px;
