@import 'src/css/mixins';

.accordionWrapper {
  display: flex;
  flex-direction: column;

  &.dropUp {
    flex-direction: column-reverse;
  }
}

.accordionToggle {
  @include resetButton;
  cursor: pointer;
  background-color: transparent;
}

.accordionBody {
  overflow: hidden;
}
